{% extends 'index.html' %}
{% block titulo%} <title>Nueva reunión</title>{% endblock %}
{% block contenido%}
<section class="from-register">
    <form method="POST">
        {% csrf_token %}
        {% if error%}
        <h2>{{error}}</h2>
        {% else %}
        <form action="#" method="POST" enctype="multipart/form-data">

            <h4 class="titulos">Nueva Reunion </h4>
            Contenido
            <p class="form-control-lg">{{form.motivo}}</p>
            <div>
                Tipo
                <div class=" form-control-lg">{{form.tipo}}</div>
            </div>
            <div>
                Link
                <div class=" form-control-lg">{{form.link}}</div>
            </div>
            Hora Registro
            <div class="form-control-lg">{{form.horaRegisto}} </div>
            Hora Reunion
            <div class="form-control-lg">{{form.horaReunion}} </div>
            <button type="submit" >Guardar</button>
        </form>
        {% endif %}
    </form>
</section>

{% endblock %}