{% extends 'index.html' %}
{% block titulo%} <title>Crear Cuestionarios</title>{% endblock %}
{% block contenido%}
<section class="from-register">
  
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="titulos">Crear Cuestionarios </h4>
            Contenido
            <p class="form-control-lg">{{form.Contenido}}</p>
            <div>
                Tipo
                <div class=" form-control-lg">{{form.Tipo}}</div>
            </div>
            Descripcion
            <div class="form-control-lg">{{form.Descripcion}} </div>
            <button type="submit" >Guardar</button>
        </form>
     
</section>

{% endblock %}