{% extends 'index.html' %}
{% block titulo%} <title>Formularios</title>{% endblock %}

{% block contenido %}
<center>
<form method="POST">
    {% csrf_token %} 
    
    
    {% if error %}
    <h2>{{error}}</h2>
    {% else %}

    <form action="#" method="POST" enctype="multipart/form-data" >
    <div>
        <h2><div>{{form.Tipo.label}}</div></h2>
        <h5><div>{{form.Tipo}}</div></h5>
        

    </div>
    <div>
        <h2><div>{{form.Descripcion.label}}</div></h2>
        <h5><div>{{form.Descripcion}}</div></h5>
        

    </div>
    <div>
        <h2><div>{{form.Contenido.label}}</div></h2>
        <h5><div>{{form.Contenido}}</div></h5>
        

    </div>
    

    <button type = "submit" name="Enviar"class="btn btn-info">Enviar</button>
    </form>
    {% endif %}
    
</form>
</center>
{% endblock %}