{% extends 'index.html' %}

{% block titulo%} <title>Documentos</title>{% endblock %}

{% block menu %}


<title>Menu Desplegable</title>
		<style type="text/css">
			
			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:1200px;
				font-family:Arial, Helvetica, sans-serif;
                
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:rgb(32, 32, 32);
				color:#fff;
				text-decoration:none;
				padding: 8px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			
		</style>
	
		<div id="header">
			<ul class="nav ">
				<li class = "BtMenu"><a href="{% url 'home'%}">Vista Usuarios</a></li>
				<li class = "BtMenu"><a href="{% url 'documentosadm'%}">DOCUMENTOS</a>
					<ul>
						<li><a href="{% url 'adminEje' %}">Documentos ejecutivos</a></li>
						<li><a href="{% url 'adminEditables' %}">Actas (circulares, momerandums</a></li>
						<li><a href="{% url 'adminContable' %}">Documentos contables</a></li>
						<li><a href="{% url 'adminCuestionario' %}">Cuestionarios Psicologicos</a>
							<!-- <ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
							</ul> -->
						</li>
					</ul>
				</li>
				
					<!-- <ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul> -->
				</li>
				<li class = "BtMenu"><a href="{% url 'reuadm'%}">REUNIONES</a></li>
                <li class = "BtMenu"><a href="{% url 'index'%}">LOGOUT</a></li>
			</ul>
		</div>
{% endblock %}

{% block contenido%}

<center><h1>DOCUMENTOS EDITABLES</h1></center> 
<table border="" class="table table-dark table-striped">
	<thead>
	<tr>
		
		<th scope = 'col'>Tipo</th>
		<th scope = 'col'>Descripcion</th>
		<th scope = 'col'>Contenido</th>
		<th scope = 'col'>Editar</th>
		<td><a href="{% url 'credit'  %}"class="btn btn-dark btn-sm">Agregar Documento</a></td>
	  
	   
	</tr>
	</thead>
	
	{% for est in object_list %} <!-- est nombre de la variable -->
	<tbody>
	<tr>
	   
		<td>{{ est.Tipo }}</td>
		<td>{{ est.Descripcion }}</td>
		<td>{{ est.Contenido }}</td>
		<td><a href="{% url 'modificar_producto' est.id %}"class="btn btn-dark btn-sm">editar</a></td>
		
	
	
	</tr>
	</tbody>
	{% endfor %}

</table>


{% endblock %}