{% extends 'index.html' %}
{% block titulo%} <title>Editar reunión</title>{% endblock %}

{% block menu %}


<title>Menu Desplegable</title>
		<style type="text/css">
			
			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:1200px;
				font-family:Arial, Helvetica, sans-serif;
                
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:rgb(32, 32, 32);
				color:#fff;
				text-decoration:none;
				padding: 8px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			
		</style>
	
		<div id="header">
			<ul class="nav ">
				<li class = "BtMenu"><a href="{% url 'home'%}">Vista Usuarios</a></li>
				<li class = "BtMenu"><a href="{% url 'documentosadm'%}">DOCUMENTOS</a>
					<ul>
						<li><a href="{% url 'adminEje' %}">Documentos ejecutivos</a></li>
						<li><a href="{% url 'adminEditables' %}">Actas (circulares, momerandums</a></li>
						<li><a href="{% url 'adminContable' %}">Documentos contables</a></li>
						<li><a href="{% url 'adminCuestionario' %}">Cuestionarios Psicologicos</a>
							<!-- <ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
							</ul> -->
						</li>
					</ul>
				</li>
				
					<!-- <ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul> -->
				</li>
				<li class = "BtMenu"><a href="{% url 'reuadm'%}">REUNIONES</a></li>
                <li class = "BtMenu"><a href="{% url 'index'%}">LOGOUT</a></li>
			</ul>
		</div>
{% endblock %}

{% block contenido%}
<section class="from-register">

    <form method="POST">
        {% csrf_token %}
        {% if error%}
        <h2>{{error}}</h2>
        {% else %}
        <form action="#" method="POST" enctype="multipart/form-data">
			<center>
            <h4 class="titulos">Editar Reunion </h4>
            Contenido
            <div class="form-control-lg">{{form.motivo}}</div>
            <div>
                Tipo
                <div class=" form-control-lg">{{form.tipo}}</div>
            </div>
            <div>
                Link
                <div class=" form-control-lg">{{form.link}}</div>
            </div>
            Hora Registro
            <div class="form-control-lg">{{form.horaRegisto}} </div>
            Hora Reunion
            <div class="form-control-lg">{{form.horaReunion}} </div>
            <button type="submit" >Guardar</button>
        </form>
        {% endif %}
    </form>
</center>
</section>

{% endblock %}