{% extends 'index.html' %}
{% block titulo%} <title>Editar documentos contables</title>{% endblock %}
{% block contenido%}
<section class="from-register">
    <form method="POST">
        {% csrf_token %}
        {% if error%}
        <h2>{{error}}</h2>
        {% else %}
        <form action="#" method="POST" enctype="multipart/form-data">

            <h4 class="titulos">Editar documentos contables </h4>
            Contenido
            <p class="form-control-lg">{{form.Contenido}}</p>
            <div>
                Tipo
                <div class=" form-control-lg">{{form.Tipo}}</div>
            </div>
            Descripcion
            <div class="form-control-lg">{{form.Descripcion}} </div>
            <div>
                Guia
                <div class=" form-control-lg">{{form.Guia}}</div>
            </div>
            <button type="submit" >Guardar</button>
        </form>
        {% endif %}
    </form>
</section>

{% endblock %}